:root {
    --white-color: #ffffff;
    --midnight-blue-color: #070724;
    --dark-grey-color: #38384F;
    --light-grey-color: #838391;
    --mercury-color: #419EBB;
    --venus-color: #EDA249;
    --earth-color: #6F2ED6;
    --mars-color: #D14C32;
    --jupiter-color: #D83A34;
    --saturn-color: #CD5120;
    --uranus-color: #1EC2A4;
    --neptune-color: #2D68F0
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body, p {
    background-color: var(--midnight-blue-color);
    background-image: url("assets/background-stars.svg");
    margin: 0;
    width: 100%;
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: var(--white-color);
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Antonio', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 103px;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 0;
}
h2 {
    font-family: 'Antonio', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 52px;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 0;
}
h3 {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.6px;
    line-height: 25px;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 0;
}
h4 {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--light-grey-color);
    text-transform: uppercase;
    margin: 0;
}

.hidden {
    display: none;
}

/* NAVIGATION */
.header {
    height: 10vh;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 25px;
}
.logo h2 {
    font-size: 28px;
}
.nav-links {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 10px
}
.nav-item h4 {
    font-size: 11px;
}
.nav-link {
    text-decoration: none;
}
.nav-link-text {
    display: block;
    margin: 25px;
}
.nav-link-text.mercury:hover {
    color: var(--mercury-color);
}
.nav-link-text.venus:hover {
    color: var(--venus-color);
}
.nav-link-text.earth:hover {
    color: var(--earth-color);
}
.nav-link-text.mars:hover {
    color: var(--mars-color);
}
.nav-link-text.jupiter:hover {
    color: var(--jupiter-color);
}
.nav-link-text.saturn:hover {
    color: var(--saturn-color);
}
.nav-link-text.uranus:hover {
    color: var(--uranus-color);
}
.nav-link-text.neptune:hover {
    color: var(--neptune-color);
}
.horizontal-line {
    fill: var(--white-color);
    opacity: 0.2;
}
.menu-icon {
    display: none;
}

/* SMALL VIEW BUTTONS */
.small-navigation {
    display: none;
}
.small-navigation-list {
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.small-navigation h3 {
    font-size: 9px;
}

.btn-navi {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.active-tab.mercury {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--mercury-color);
}
.active-tab.venus {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--venus-color);
}
.active-tab.earth {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--earth-color);
}
.active-tab.mars {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--mars-color);
}
.active-tab.jupiter {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--jupiter-color);
}
.active-tab.saturn {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--saturn-color);
}
.active-tab.uranus {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--uranus-color);
}
.active-tab.neptune {
    height: 7vh;
    align-items: center;
    border-bottom: 2px solid var(--neptune-color);
}

 /* SIDE NAVIGATION */
.side-navigation {
    position: fixed;
    top: 7vh;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s;
    background-color: var(--midnight-blue-color);
}

.side-nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0;
    margin: 0;
}
.side-nav-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw 0 7vw;
}
.side-nav-link-text {
    display: block;
    margin: 15px;
    color: var(--white-color);
}
.dot-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}
.horizontal-line-side {
    width: 90%;
    fill: var(--white-color);
    opacity: 0.1;
}
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
.dot.mercury {
    background-color: var(--mercury-color);
}
.dot.venus {
    background-color: var(--venus-color);
}
.dot.earth {
    background-color: var(--earth-color);
}
.dot.mars {
    background-color: var(--mars-color);
}
.dot.jupiter {
    background-color: var(--jupiter-color);
}
.dot.saturn {
    background-color: var(--saturn-color);
}
.dot.uranus {
    background-color: var(--uranus-color);
}
.dot.neptune {
    background-color: var(--neptune-color);
}

/* MAIN CONTENT */
.wrapper {
    margin: 3vh 10vw 5vh 10vw;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: start;
    height: 650px;
}

/* IMAGE */
.image {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    place-items: center;
    height: 650px;
}

.image-surface {
    position:absolute;
    top: 520px;
    height: 200px;
    width: 160px
}

/* INFORMATION */
.information {
    width: 26vw;
    height: 350px;
    padding-left: 2vw;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    place-items: start;
}
.information h1 {
    font-size: 80px;
}
.information p {
    font-size: 14px;
}
.information span {
    font-size: 14px;
    opacity: 0.5;
}
.information a {
    color: var(--white-color);
}
.opacity {
    opacity: 0.5
}
.margin-right-15px {
    margin-right: 15px;
}
.bold {
    font-weight: bold
}

/* BUTTONS */
.buttons {
    display: grid;
    width: 26vw;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
    padding-bottom: 50px;
}
.buttons-list {
    width: 26vw;
    justify-content: end;
    list-style-type: none;
    padding-left: 2vw;
}
.btn {
    border: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    text-align: center;
    justify-content: start;
    text-decoration: none;
    width: 100%;
    height: 48px;
    cursor: pointer;
    margin: 15px 0 0 0;
    padding: 10px 0 0 25px;
}

.active.mercury {
    background-color: var(--mercury-color);
}
.active.venus {
    background-color: var(--venus-color);
}
.active.earth {
    background-color: var(--earth-color);
}
.active.mars {
    background-color: var(--mars-color);
}
.active.jupiter {
    background-color: var(--jupiter-color);
}
.active.saturn {
    background-color: var(--saturn-color);
}
.active.uranus {
    background-color: var(--uranus-color);
}
.active.neptune {
    background-color: var(--neptune-color);
}

.btn:hover {
    background-color: var(--dark-grey-color);
}
.buttons h3 {
    font-size: 12px;
}

/* BOXES */
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.box{
    border: 1px solid rgba(255, 255, 255, .2);
    width: 23%;
    height: 130px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-bottom: 15px;
}
.box h4 {
    font-size: 11px;
    opacity: 0.5;
}
.box h2 {
    font-size: 40px;
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

/* TABLETS */
@media only screen and (min-width: 600px) and (max-width: 950px) {
    .header {
        height: 15vh;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px
    }
    .logo h2 {
        font-size: 28px;
    }
    .nav-links {
        display: inline-flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-item h4 {
        font-size: 11px;
    }
    .nav-link {
        text-decoration: none;
    }
    .nav-link-text {
        display: block;
        margin: 15px;
    }

    .wrapper {
        margin: 3vh 5vw 3vh 5vw;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: start;
        margin: 0 0 40px 0 ;
    }

    .image {
        display: grid;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        place-items: center;
        height: 400px;
    }
    .image-overview.mercury {
        height: 184px;
        width: 184px
    }
    .image-overview.venus {
        height: 253px;
        width: 253px
    }
    .image-overview.earth {
        height: 285px;
        width: 285px
    }
    .image-overview.mars {
        height: 213px;
        width: 213px
    }
    .image-overview.jupiter {
        height: 369px;
        width: 369px
    }
    .image-overview.saturn {
        height: 422px;
        width: 422px
    }
    .image-overview.uranus {
        height: 290px;
        width: 290px
    }
    .image-overview.neptune {
        height: 285px;
        width: 285px
    }
    .image-internal.mercury {
        height: 184px;
        width: 184px
    }
    .image-internal.venus {
        height: 253px;
        width: 253px
    }
    .image-internal.earth {
        height: 285px;
        width: 285px
    }
    .image-internal.mars {
        height: 213px;
        width: 213px
    }
    .image-internal.jupiter {
        height: 369px;
        width: 369px
    }
    .image-internal.saturn {
        height: 422px;
        width: 422px
    }
    .image-internal.uranus {
        height: 290px;
        width: 290px
    }
    .image-internal.neptune {
        height: 285px;
        width: 285px
    }
    .image-surface {
        position:absolute;
        top: 460px;
        height: 160px;
        width: 130px
    }

    .information {
        width: 40vw;
        display: grid;
        height: 250px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        place-items: start;
        padding: 0;
    }
    .information h1 {
        font-size: 48px;
    }
    .information p {
        font-size: 11px;
    }
    .information span {
        font-size: 12px;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        padding-top: 60px;
        justify-self: end;
        width: 40vw;
    }
    .buttons-list {
        width: 40vw;
    }
    .btn {
        height: 40px;
        margin: 0 0 15px 0;
    }
    .buttons h3 {
        font-size: 9px;
    }

    .box{
        height: 90px;
        padding: 0 10px
    }
    .box h4 {
        font-size: 8px;
    }
    .box h2 {
        font-size: 24px;
        margin-top: -5px
    }
}

/* PHONES */
@media only screen and (max-width: 600px) {
    .header {
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo h2 {
        font-size: 28px;
    }
    .menu-icon {
        display: block;
        align-items: center;
        padding: 30px 20px 20px 20px
    }
    .nav-links {
        display: none ;
    }
    .small-navigation {
        display: block;
    }

    .wrapper {
        margin: 2vh 6vw 2vh 6vw;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 0 0 25px 0 ;
    }

    .image {
        display: grid;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        place-items: center;
        padding-top: 20px;
        height: 400px;
    }
    .image-overview.mercury {
        height: 111px;
        width: 111px
    }
    .image-overview.venus {
        height: 154px;
        width: 154px
    }
    .image-overview.earth  {
        height: 173px;
        width: 173px
    }
    .image-overview.mars  {
        height: 129px;
        width: 129px
    }
    .image-overview.jupiter  {
        height: 224px;
        width: 224px
    }
    .image-overview.saturn  {
        height: 256px;
        width: 256px
    }
    .image-overview.uranus  {
        height: 176px;
        width: 176px
    }
    .image-overview.neptune  {
        height: 173px;
        width: 173px
    }
    .image-internal.mercury {
        height: 111px;
        width: 111px
    }
    .image-internal.venus {
        height: 154px;
        width: 154px
    }
    .image-internal.earth  {
        height: 173px;
        width: 173px
    }
    .image-internal.mars  {
        height: 129px;
        width: 129px
    }
    .image-internal.jupiter  {
        height: 224px;
        width: 224px
    }
    .image-internal.saturn  {
        height: 256px;
        width: 256px
    }
    .image-internal.uranus  {
        height: 176px;
        width: 176px
    }
    .image-internal.neptune  {
        height: 173px;
        width: 173px
    }

    .image-surface {
        position: absolute;
        top: 300px;
        height: 110px;
        width: 90px;
    }

    .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .information h1 {
        font-size: 40px;
        line-height: 52px;
        margin: 10px 0
    }
    .information p {
        text-align: center;
        font-size: 11px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .information span {
        font-size: 12px;
    }
    .buttons {
        display: none;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .box{
        width: 100%;
        margin-bottom: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1vh 5vw 1vh 5vw;
    }
    .box h2 {
        font-size: 20px;
    }
    .box h4 {
        font-size: 8px;
    }

    .overlay {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        z-index: 100;
        transition: all 0.5s;
    }
}
